* {
margin: 0;
}

.container {
margin-left: auto;
margin-right: auto;
}

.btn-success {
    text-transform: capitalize;
  }

.pm-01 {
margin: 1px;
padding: 1px;
}

.giphy {
  background-image: url("https://media.giphy.com/media/3o6gbbuLW76jkt8vIc/giphy.gif");
  background-position: center;
  background-size: 100%;
  display: inline;
}